{% extends "layout.html" %}

{% block title %}Moneybox{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <form action="" method="get">
            Сколько показывать тикеров:
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="hm" value="10" onchange="this.form.submit();" formaction="/?hm=10" 
                    {% if pd.HM==10 %} checked {% endif %} />
                <label class="form-check-label">10</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="hm" value="20" onchange="this.form.submit();" formaction="/?hm=20"
                {% if pd.HM==20 %} checked {% endif %} />
                <label class="form-check-label">20</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="hm" value="30" onchange="this.form.submit();" formaction="/?hm=30" 
                {% if pd.HM==30 %} checked {% endif %} />
                <label class="form-check-label">30</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="hm" value="50" onchange="this.form.submit();" formaction="/?hm=50" 
                {% if pd.HM==50 %} checked {% endif %} />
                <label class="form-check-label">50</label>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-6 col-xl-3">
        <h2>Дивидендная доходность</h2>
    </div>
    <div class="div col-12 col-md-6 col-xl-3">
        <h2>Дивидендная стабильность</h2>
    </div>
    <div class="div col-12 col-md-6 col-xl-3">
        <h2>Падения месяца</h2>
    </div>
    <div class="div col-12 col-md-6 col-xl-3">
        <h2>Рост месяца</h2>
    </div>
</div>

<div class="row"></div>

<div class="row">
    <div class="col-12 col-md-6 col-xl-3">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Тикер</th>
                    <th class="text-end">Yield-5Y</th>
                    <th class="text-end ">DSI</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pd.TopY %}
                <tr>
                    <td {% if item.Star %} class="table-primary" {% endif %}>
                        <a href="{{ item.Ticker }}">{{ item.Descr }}</a>
                    </td>
                    <td class="text-end">{{ item.V }}</td>
                    <td class="text-end">{{ item.V1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Тикер</th>
                    <th class="text-end">Yield-5Y</th>
                    <th class="text-end ">DSI</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pd.TopDSI %}
                <tr>
                    <td {% if item.Star %} class="table-primary" {% endif %}>
                        <a href="{{ item.Ticker }}">{{ item.Descr }}</a>
                    </td>
                    <td class="text-end">{{ item.V }}</td>
                    <td class="text-end">{{ item.V1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Тикер</th>
                    <th class="text-end">Падение, %</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pd.TopFallen %}
                <tr>
                    <td {% if item.Star %} class="table-primary" {% endif %}>
                        <a href="{{ item.Ticker }}">{{ item.Descr }}</a>
                    </td>
                    <td class="text-end">{{ item.V }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-12 col-md-6 col-xl-3">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Тикер</th>
                    <th class="text-end">Рост, %</th>
                </tr>
            </thead>
            <tbody>
                {% for item in pd.TopRaise %}
                <tr>
                    <td {% if item.Star %} class="table-primary" {% endif %}>
                        <a href="{{ item.Ticker }}">{{ item.Descr }}</a>
                    </td>
                    <td class="text-end">{{ item.V }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}