extends layout.pug

    block title
        title Инвестиционны счет

    block content
        script[src="/assets/lib/vue/vue.global.prod.js"]
        h1 Инвестиционный счет

        div#vueapp
            div.row
                div.form-group.row
                    label.col-sm-6.col-form-label[for="descr"] Инвестиционный счет
                    div.col-sm-6
                        input.form-control.form-control-sm
                            [type="text"]
                            [v-model="obj.Descr"]
                        button.btn.btn-primary.btn-sm[v-on:click="setDescr()"] Сохранить
            div.row
                div.col-3
                    h3 Оценки портфеля
                    table.table.table-hover.table-responsive.table-sm
                        thead
                            tr
                                th.text-end Дата оценки
                                th.text-end Руб.
                                th
                        tbody
                            tr[v-for="item in obj.edges.Valuations"]
                                td.text-end {{ $prnDate(item.RecDate) }}
                                td.text-end {{ $prnCurrency(item.Value) }}
                                td
                                    button.btn[data-bs-toggle="modal"][data-bs-target="#filterModal"]
                                        i.bi.bi-pencil-square
                                    button.btn
                                        i.bi.bi-trash3[v-on:click="deleteValuation(item.id)"]
                div.col-3
                    h3 Ввод-вывод
                    table.table.table-hover.table-responsive.table-sm
                        thead
                            tr
                                th.text-end Дата операции
                                th.text-end Руб.
                                th
                        tbody
                            tr[v-for="item in obj.edges.Cashflows"]
                                td.text-end {{ $prnDate(item.RecDate) }}
                                td.text-end {{ $prnCurrency(item.Qty) }}
                                td
                                    button.btn[data-bs-toggle="modal"][data-bs-target="#filterModal"]
                                        i.bi.bi-pencil-square
                                    button.btn
                                        i.bi.bi-trash3

        script
            window.accid='#{AccId}'

        script[src="/assets/js/invest-edit-account.js"]

//TODO вынести компонент для просмотра графиков и использовать его здесь и в списке
