{% extends "layout.html" %}

{% block title %}Brokerage accounts{% endblock %}

{% block content %}

<div id="vueapp">
    <h1>Brokerage accounts</h1>
    <div class="row">
        <div class="col-4">
            <div class="form-group.row">
                <label class="col-sm-6 col-form-label" for="startSimulation">Show data from</label>
                <div class="col-sm-6">
                    <input class="form-control form-control-sm" type="date" v-model="startInvestAccountsFlow"
                        v-on:change="startInvestAccountsFlowChanged()" />
                </div>
            </div>
            <table class="table sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>Account name</th>
                        <th class="text-end">Balance</th>
                        <th class="text-end">Last evaluated at</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in accList">
                        <td><input type="checkbox" v-model="item.selected" v-on:change="showContent()" /></td>
                        <td><a v-bind:href="'/invest-edit-account?id=' + item.id">${item.descr }</a></td>
                        <td class="text-end">${ $prnCurrency(item.value) }</td>
                        <td class="text-end">${ $prnDate(item.rec_date) }</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-8">
            <show-acc-flow ref="showAccFlow" :weekflow="weekflow" v-if="weekflow.length>0"></show-acc-flow>
        </div>
    </div>
</div>

{% include "components/ShowAccFlow.html" %}
<script>
    const App = {
        delimiters: ['${', '}'],
        components: { ShowAccFlow: ShowAccFlow },
        data() {
            return {
                accList: {},
                weekflow: [],
                startInvestAccountsFlow: ""
            }
        },
        async mounted() {
            await this.getAccList();
        },
        methods: {
            async getAccList() {
                let response = await fetch("/api/users/start-invest-accounts-flow", { method: "GET" });
                if (response.ok) {
                    const lDate = await response.text();
                    if (lDate != "")
                        this.startInvestAccountsFlow = lDate;
                    else
                        this.startInvestAccountsFlow = "2017-01-01";
                    response = await fetch('/api/invest-accounts', { method: 'GET' });
                    if (response.ok) this.accList = await response.json();
                    else alert("Error when get list of accounts");
                } else {
                    alert("Error while get starting date");
                }
            },
            async startInvestAccountsFlowChanged() {
                let response = await fetch(
                    `/api/users/start-invest-accounts-flow?newdate=${this.startInvestAccountsFlow}`,
                    { method: 'POST' }
                );
                if (response.ok) {
                    this.showContent();
                }
                else alert("Error while setting starting date");
            },
            async showContent() {
                let idsArr = [];
                this.accList.forEach(function (el) { if (el.selected) idsArr.push(el.id); }
                );
                if (idsArr.length == 0) {
                    this.weekflow = [];
                    return;
                }
                let ids = idsArr.join(',');
                let response = await fetch(`/api/invest-accounts?mode=weekflow&ids=${ids}`, { method: 'GET' });
                if (response.ok) {
                    this.weekflow = await response.json();
                }
                else alert("Error while get accounts flow");
            }
        }
    };

    let app = Vue.createApp(App)
    applyVueFuncs(app);
    app.mount('#vueapp')

</script>

{% endblock %}
