extends layout.pug

    block title
        title Инвестиционны счет

    block content
        script[src="/assets/lib/vue/vue.global.prod.js"]
        h1 Инвестиционный счет

        div#vueapp
            div.row
                div.form-group.row
                    div.col-sm-2
                        label.col-form-label[for="descr"] Наименование
                    div.col-sm-4
                        input.form-control.form-control-sm
                            [type="text"]
                            [v-model="obj.Descr"]
                    div.col-sm-2
                        button.btn.btn-primary.btn-sm[v-on:click="setDescr()"] Сохранить
            div.row
                p &nbsp;
            div.row
                div.col-3
                    h3 Оценки портфеля
                    table.table.table-hover.table-responsive.table-sm
                        thead
                            tr
                                th.text-end Дата оценки
                                th.text-end Руб.
                                th
                                    button.btn[data-bs-toggle="modal"][data-bs-target="#valModal"][v-on:click="setNewSelectedVal()"]
                                        i.bi.bi-file-earmark-plus

                        tbody
                            tr[v-for="item in obj.edges.Valuations"]
                                td.text-end {{ $prnDate(item.RecDate) }}
                                td.text-end {{ $prnCurrency(item.Value) }}
                                td
                                    button.btn[data-bs-toggle="modal"][data-bs-target="#valModal"][v-on:click="setSelectedVal(item)"]
                                        i.bi.bi-pencil-square
                                    button.btn
                                        i.bi.bi-trash3[v-on:click="deleteValuation(item.id)"]
                    // Line editor for table Valuations
                    div.modal[id="valModal"][tabindex="-1"][aria-labelledby="valModalLabel"][aria-hidden="true"]
                        div.modal-dialog
                            div.modal-content
                                div.modal-header
                                    h5.modal-title[id="valModalLabel"] Редактор оценки
                                    button.btn-close[type="button"][data-bs-dismiss="modal"][aria-label="Close"]
                                div.modal-body
                                    div.mb-3.row
                                        label.col-sm-3.col-form-label Дата оценки
                                        div.col-sm-9
                                            input.form-control.form-control-sm[type="date"][v-model="selectedVal.RecDate"]
                                    div.mb-3.row
                                        label.col-sm-3.col-form-label Оценка, руб.
                                        div.col-sm-9
                                            input.form-control.form-control-sm[type="number"][v-model="selectedVal.Value"]
                                div.modal-footer
                                    button.btn.btn-primary[type="button"][v-on:click="saveSelectedVal()"][data-bs-dismiss="modal"] Сохранить и закрыть
                div.col-3
                    h3 Ввод-вывод
                    table.table.table-hover.table-responsive.table-sm
                        thead
                            tr
                                th.text-end Дата операции
                                th.text-end Руб.
                                th
                        tbody
                            tr[v-for="item in obj.edges.Cashflows"]
                                td.text-end {{ $prnDate(item.RecDate) }}
                                td.text-end {{ $prnCurrency(item.Qty) }}
                                td
                                    button.btn[data-bs-toggle="modal"][data-bs-target="#filterModal"]
                                        i.bi.bi-pencil-square
                                    button.btn
                                        i.bi.bi-trash3

        script
            window.accid='#{AccId}'

        script[src="/assets/js/invest-edit-account.js"]

//TODO вынести компонент для просмотра графиков и использовать его здесь и в списке
