<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Moneybox{% endblock %}</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/lib/bootstrap-icons-1.8.1/bootstrap-icons.css" />
</head>

<body style="overflow-y:scroll;">
    <script type="text/javascript">
        function applyVueFuncs(app) {

            app.config.globalProperties.$prnCurrency = function (val) {
                return new Intl.NumberFormat('ru-RU', { style: 'decimal', minimumFractionDigits: 0, maximumFractionDigits: 0 }).format(val);
            };

            app.config.globalProperties.$prnPercent1 = function (val) {
                return new Intl.NumberFormat('ru-RU', { style: 'decimal', minimumFractionDigits: 1, maximumFractionDigits: 1 }).format(val);
            };

            app.config.globalProperties.$prnDate = function (val) {
                let tokens = val.split('T');
                if (tokens.length == 2) {
                    return new Intl.DateTimeFormat('ru-RU').format(Date.parse(tokens[0]))
                }
                return val;
            };
        }
    </script>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow.mb-3">
            <div class="container">
                <a class="navbar-brand" href="/">MoneyBox</a>
                {% if pd.Authenticated %}
                <span>&nbsp;</span>
                <a class="navbar-text" href="/strategies">Стратегии</a>
                <span>&nbsp;</span>
                <a class="navbar-text" href="/invest-accounts">Брокерские счета</a>
                {% endif %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">&nbsp;</ul>
                    {% if pd.Authenticated %}
                    <a href="/profile">{{ pd.UserName }}</a>
                    {% else %}
                    <a href="/login">Войти</a>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <p>&copy; 2021,2022 - MoneyBox</p>
        </div>
    </footer>

    <script src="/assets/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>