extends layout.pug

    block title
        title Вход

    block content
        script[src="/assets/lib/vue/vue.global.prod.js"]

        div#vueapp
            div.row 
                div.col-6 
                    h1 Вход
                    form
                        div.mb-3
                            label.form-label Email address
                            input#email.form-control[type="email"][v-model="userName"][required]
                        div.mb-3
                            label.form-label Password
                            input#password.form-control[type="password"][v-model="password"]
                        div
                            button.btn.btn-primary[v-on:click.prevent="login()"] Вход
                            &nbsp;
                            span.alert[v-show="showAlert"] {{alertText}}
                div.col-6
                    h1 Регистрация
                    form
                        div.mb-3
                            label.form-label Email address
                            input.form-control[type="email"][v-model="userNameReg"][required]
                        div.mb-3
                            label.form-label Пароль
                            input.form-control[type="password"][v-model="passwordReg"][required]
                        div.mb-3
                            label.form-label Повторите пароль
                            input.form-control[type="password"][v-model="passwordReg1"][required]
                        div 
                            button.btn.btn-primary[v-on:click.prevent="register()"] Регистрация
                            &nbsp;
                            span.alert[v-show="showAlertReg"] {{alertTextReg}}

        script[src="/assets/js/login.js"]
