{% extends "layout.html" %}

{% block title %}Отчет эмитента {% endblock %}

{% block content %}

{% macro pnl(descr, repv, addc) %}
<tr class="{{addc}}">
    <td>{{ descr }}</td>
    <td class="text-end">{{repv.Src | rub0}}</td>
    <td class="text-end">{{repv.Ltm | rub0}}</td>
    <td class="text-end">{{repv.AGYtdAdj | rub1}}%</td>
    <td class="text-end">{{repv.AGLtm | rub1}}%</td>
</tr>
{% endmacro %}

{% macro cf(descr, repv, addc) %}
<tr class="{{addc}}">
    <td>{{ descr }}</td>
    <td class="text-end">{{repv.S | rub0}}</td>
    <td class="text-end">{{repv.AG | rub1}}%</td>
</tr>
{% endmacro %}

{% macro cf_perc(descr, repv, irepv, addc) %}
<tr class="{{addc}}">
    <td>{{ descr }}</td>
    <td class="text-end">{{repv.S | rub1}}%</td>
    <td class="text-end">{{repv.AG | rub1}}%</td>
    <td class="text-end">{{irepv.S | rub1}}%</td>
    <td class="text-end">{{repv.IndustryUpside | rub1}}</td>
</tr>
{% endmacro %}

{% macro cf_1(descr, repv, irepv, addc) %}
<tr class="{{addc}}">
    <td>{{ descr }}</td>
    <td class="text-end">{{repv.S | rub1}}</td>
    <td class="text-end">{{repv.AG | rub1}}%</td>
    <td class="text-end">{{irepv.S | rub1}}</td>
    <td class="text-end">{{repv.IndustryUpside | rub1}}</td>
</tr>
{% endmacro %}

{% macro cf_perc_V(descr, repv, irepv, addc) %}
<tr class="{{addc}}">
    <td>{{ descr }}</td>
    <td class="text-end">{{repv.YtdAdj | rub1}}%</td>
    <td class="text-end">{{repv.AGYtdAdj | rub1}}%</td>
    <td class="text-end">{{irepv.YtdAdj | rub1}}%</td>
    <td class="text-end">{{repv.IndustryUpside_YtdAdj | rub1}}</td>
</tr>
{% endmacro %}

{% macro cf_1_V(descr, repv, irepv, addc) %}
<tr class="{{addc}}">
    <td>{{ descr }}</td>
    <td class="text-end">{{repv.YtdAdj | rub1}}</td>
    <td class="text-end">{{repv.AGYtdAdj | rub1}}%</td>
    <td class="text-end">{{irepv.YtdAdj | rub1}}</td>
    <td class="text-end">{{repv.IndustryUpside_YtdAdj | rub1}}</td>
</tr>
{% endmacro %}

<h2>Отчет эмитента {{ pd.Emitent.Descr }}  за {{ pd.R2.ReportYear }}.Q{{ pd.R2.ReportQuarter }} </h2>
<h5>Дата отчета: {{pd.R2.ReportDate | date:"2006-01-02" }}</h5>

<div class="row">

    <div class="col-4">
        <h5>P&L</h5>
        <small>
            <table class="table table-sm">
                <thead>
                    <th>Параметр</th>
                    <th class="text-end">Ytd</th>
                    <th class="text-end">Ltm</th>
                    <th class="text-end">г/г</th>
                    <th class="text-end">г/г, Ltm</th>
                </thead>
                {{ pnl("Выручка", pd.R2.Revenue, "") }}
                {{ pnl("Амортизация", pd.R2.Amortization, "") }}
                {{ pnl("Операционная прибыль", pd.R2.OperatingIncome, "") }}
                {{ pnl("Финансовые доходы", pd.R2.InterestIncome, "") }}
                {{ pnl("Финансовые расходы", pd.R2.InterestExpenses, "") }}
                {{ pnl("Налог на прибыль", pd.R2.IncomeTax, "") }}
                {{ pnl("Прибыль", pd.R2.NetIncome, "") }}
                {{ pnl("OIBDA", pd.R2.OIBDA, "table-warning") }}
                {{ pnl("EBITDA", pd.R2.EBITDA, "table-warning") }}
            </table>
        </small>
    </div>

    <div class="col-3">
        <h5>Cashflow</h5>
        <table class="table table-sm">
            <thead>
                <th>Параметр</th>
                <th class="text-end">SLD</th>
                <th class="text-end">г/г</th>
            </thead>
            {{ cf("Денежные средства и эквиваленты", pd.R2.Cash, "") }}
            {{ cf("Текущие обязательства", pd.R2.CurrentLiabilities, "") }}
            {{ cf("Долговременные обязательства", pd.R2.NonCurrentLiabilities, "") }}
            {{ cf("Неконтроллирующие доли", pd.R2.NonControlling, "") }}
            {{ cf("Капитал", pd.R2.Equity, "") }}
            {{ cf("Всего активов и обязательств", pd.R2.Total, "") }}
            {{ cf("Чистый долг", pd.R2.NetDebt, "table-warning") }}
            {{ cf("Капитализация", pd.R3.Cap, "table-warning") }}
            {{ cf("EV", pd.R3.EV, "table-warning") }}
            {{ cf("Book value", pd.R3.BookValue, "table-warning") }}
        </table>

    </div>

    <div class="col-4">
        <h5>Мультипликаторы</h5>
        <table class="table table-sm">
            <thead>
                <th>Мультипликатор</th>
                <th class="text-end">Значение</th>
                <th class="text-end">г/г</th>
                <th class="text-end">Отрасль</th>
                <th class="text-end">Апсайд</th>
            </thead>
            {{ cf_1_V("EV/EBITDA", pd.R3.EV_on_EBITDA, pd.IR.EV_on_EBITDA, "") }}
            {{ cf_1_V("Debt/EBITDA", pd.R2.Debt_on_EBITDA, pd.IR.R2.Debt_on_EBITDA, "") }}
            {{ cf_1_V("P/E", pd.R3.P_on_E, pd.IR.P_on_E, "") }}
            {{ cf_1("P/BV", pd.R3.P_on_BV, pd.IR.P_on_BV, "") }}
            {{ cf_1_V("P/S", pd.R3.P_on_S, pd.IR.P_on_S, "") }}
            {{ cf_1("DSI", pd.R3.DSI, pd.IR.DSI, "") }}
            {{ cf_perc_V("ROE", pd.R2.ROE, pd.IR.R2.ROE, "") }}
            {{ cf_perc_V("Рентабельность OIBDA", pd.R2.OIBDAMargin, pd.IR.R2.OIBDAMargin, "") }}
            {{ cf_perc_V("Рентабельность EBITDA", pd.R2.EBITDAMargin, pd.IR.R2.EBITDAMargin, "") }}
            {{ cf_perc_V("Операционная рентабельность", pd.R2.OperationalMargin, pd.IR.R2.OperationalMargin, "") }}
            {{ cf_perc_V("Чистая рентабельность", pd.R2.NetMargin, pd.IR.R2.NetMargin, "") }}
        </table>
    </div>

    <div class="col-1">
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th>Все отчеты</th>
                </tr>
            </thead>
            <tbody>
                {% for rep in pd.AllReps %}
                <tr>
                    <td>
                        {% if pd.R2.ReportYear==rep.ReportYear && pd.R2.ReportQuarter==rep.ReportQuarter %}
                        <strong>{{rep.ReportYear}}.Q{{rep.ReportQuarter}}</strong>
                        {% else %}
                        <a
                            href="/report?tickerid={{pd.TickerId}}&y={{rep.ReportYear}}&q={{rep.ReportQuarter}}">{{rep.ReportYear}}.Q{{rep.ReportQuarter}}</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

</div>

{% endblock %}