{% extends "layout.html" %}

{% block title %}Report{% endblock %}

{% block content %}

{% macro pnl(descr, repv, hc) %}
<tr>
    <td class="{{hc}}">{{ descr }}</td>
    <td class="text-end {{repv.Src.C}}">{{repv.Ytd.V | cur0}}</td>
    <td class="text-end {{repv.AG_YtdAdj.C}}">{{repv.AG_YtdAdj.V | cur1}}%</td>
    <td class="text-end {{repv.Ltm.C}}">{{repv.Ltm.V | cur0}}</td>
    <td class="text-end {{repv.AG_Ltm.C}}">{{repv.AG_Ltm.V | cur1}}%</td>
</tr>
{% endmacro %}

{% macro cf(descr, repv, hc) %}
<tr">
    <td class="{{hc}}">{{ descr }}</td>
    <td class="text-end {{repv.S.C}}">{{repv.S.V | cur0}}</td>
    <td class="text-end {{repv.AG.C}}">{{repv.AG.V | cur1}}%</td>
</tr>
{% endmacro %}

{% macro mult_cf(descr, repv) %}
<tr">
    <td>{{ descr }}</td>
    <td class="text-end {{repv.S.C}}">{{repv.S.V | cur1}}</td>
    <td class="text-end {{repv.AG.C}}">{{repv.AG.V | cur1}}%</td>
    <td class="text-end {{repv.IND_S.C}}">{{repv.IND_S.V | cur1}}</td>
    <td class="text-end {{repv.Upside.C}}">{{repv.Upside.V | cur1}}</td>
</tr>
{% endmacro %}

{% macro mult_pnl_percent(descr, repv) %}
<tr>
    <td>{{ descr }}</td>
    <td class="text-end {{repv.YtdAdj.C}}">{{repv.YtdAdj.V | cur1}}%</td>
    <td class="text-end {{repv.AG_YtdAdj.C}}">{{repv.AG_YtdAdj.V | cur1}}%</td>
    <td class="text-end {{repv.IND_YtdAdj.C}}">{{repv.IND_YtdAdj.V | cur1}}%</td>
    <td class="text-end {{repv.Upside_YtdAdj.C}}">{{repv.Upside_YtdAdj.V | cur1}}</td>
    <td class="text-end {{repv.Ltm.C}}">{{repv.Ltm.V | cur1}}%</td>
    <td class="text-end {{repv.AG_Ltm.C}}">{{repv.AG_Ltm.V | cur1}}%</td>
    <td class="text-end {{repv.IND_Ltm.C}}">{{repv.IND_Ltm.V | cur1}}%</td>
    <td class="text-end {{repv.Upside_Ltm.C}}">{{repv.Upside_Ltm.V | cur1}}</td>
</tr>
{% endmacro %}

{% macro mult_pnl(descr, repv) %}
<tr>
    <td>{{ descr }}</td>
    <td class="text-end {{repv.YtdAdj.C}}">{{repv.YtdAdj.V | cur1}}</td>
    <td class="text-end {{repv.AG_YtdAdj.C}}">{{repv.AG_YtdAdj.V | cur1}}%</td>
    <td class="text-end {{repv.IND_YtdAdj.C}}">{{repv.IND_YtdAdj.V | cur1}}</td>
    <td class="text-end {{repv.Upside_YtdAdj.C}}">{{repv.Upside_YtdAdj.V | cur1}}</td>
    <td class="text-end {{repv.Ltm.C}}">{{repv.Ltm.V | cur1}}</td>
    <td class="text-end {{repv.AG_Ltm.C}}">{{repv.AG_Ltm.V | cur1}}%</td>
    <td class="text-end {{repv.IND_Ltm.C}}">{{repv.IND_Ltm.V | cur1}}</td>
    <td class="text-end {{repv.Upside_Ltm.C}}">{{repv.Upside_Ltm.V | cur1}}</td>
</tr>
{% endmacro %}

<div class="row">
    <div class="col-4">
        <h2>Report from {{ pd.Emitent.Descr }} for period {{ pd.R2.ReportYear }}.Q{{ pd.R2.ReportQuarter }} </h2>
        <h6>Report date: {{pd.R2.ReportDate | date:"2006-01-02" }}</h5>
    </div>
    <div class="col-4">
        <table class="table table-sm table-borderless">
            <thead>
                <tr>
                    <th>Tickers</th>
                </tr>
            </thead>
            <tbody>
                {% for t in pd.Emitent.Edges.Tickers %}
                <tr>
                    <td>
                        <a href="/ticker?id={{t.ID}}">{{ t.Descr }}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="col-4">
        <h6>Another reports</h6>
        {% for rep in pd.AllReps %}
        <span class="text-end">
            {% if pd.R2.ReportYear==rep.ReportYear && pd.R2.ReportQuarter==rep.ReportQuarter %}
            <strong>{{rep.ReportYear}}.Q{{rep.ReportQuarter}}</strong>
            {% else %}
            <a href="/report?tickerid={{pd.TickerId}}&y={{rep.ReportYear}}&q={{rep.ReportQuarter}}">{{rep.ReportYear}}.Q{{rep.ReportQuarter}}</a>
            {% endif %}
        </span>
        {% endfor %}
    
    </div>
    
</div>

<br></br>

<div class="row">

    <div class="col-7">
        <h5>Profit & Lost</h5>
        <small>
            <table class="table table-sm table-bordered">
                <thead>
                    <th></th>
                    <th class="text-end">Ytd</th>
                    <th class="text-end">y/y</th>
                    <th class="text-end">Ltm</th>
                    <th class="text-end">y/y, Ltm</th>
                </thead>
                {{ pnl("Revenue", pd.Revenue, "") }}
                {{ pnl("Amortization", pd.Amortization, "") }}
                {{ pnl("Operating income", pd.OperatingIncome, "") }}
                {{ pnl("Interest income", pd.InterestIncome, "") }}
                {{ pnl("Interest expenses", pd.InterestExpenses, "") }}
                {{ pnl("Income tax", pd.IncomeTax, "") }}
                {{ pnl("Net income", pd.NetIncome, "") }}
                {{ pnl("OIBDA", pd.OIBDA, "table-warning") }}
                {{ pnl("EBITDA", pd.EBITDA, "table-warning") }}
            </table>
        </small>
    </div>
    
    <div class="col-5">
        <h5>Финансы</h5>
        <table class="table table-sm table-bordered">
            <thead>
                <th></th>
                <th class="text-end">Из отчета</th>
                <th class="text-end">г/г</th>
            </thead>
            {{ cf("Cash and cash equivalents", pd.Cash, "") }}
            {{ cf("Current liabilities", pd.CurrentLiabilities, "") }}
            {{ cf("Non-current liabilities", pd.NonCurrentLiabilities, "") }}
            {{ cf("Non-controlling shares", pd.NonControlling, "") }}
            {{ cf("Equity", pd.Equity, "") }}
            {{ cf("Total", pd.Total, "") }}
            {{ cf("Net debt", pd.NetDebt, "table-warning") }}
            {{ cf("Market capitalization", pd.Cap, "table-warning") }}
            {{ cf("Enterprise value", pd.EV, "table-warning") }}
            {{ cf("Book value", pd.BookValue, "table-warning") }}
        </table>

    </div>
</div>

<br></br>

<div class="row">

    <div class="col-7">
        <h5>Ratios, P&L</h5>
        <table class="table table-sm table-bordered">
            <thead>
                <th></th>
                <th class="text-end">Ytd (adj)</th>
                <th class="text-end">y/y, Ytd</th>
                <th class="text-end">Industry, Ytd</th>
                <th class="text-end">Upside, Ytd</th>
                <th class="text-end">Ltm</th>
                <th class="text-end">y/y, Ltm</th>
                <th class="text-end">Industry, Ltm</th>
                <th class="text-end">Upside, Ltm</th>
            </thead>
            {{ mult_pnl("EV/EBITDA", pd.EV_on_EBITDA) }}
            {{ mult_pnl("Debt/EBITDA", pd.Debt_on_EBITDA) }}
            {{ mult_pnl("P/E", pd.P_on_E) }}
            {{ mult_pnl("P/S", pd.P_on_S) }}
            {{ mult_pnl_percent("ROE", pd.ROE) }}
            {{ mult_pnl_percent("OIBDA margin", pd.OIBDAMargin) }}
            {{ mult_pnl_percent("EBITDA margin", pd.EBITDAMargin) }}
            {{ mult_pnl_percent("Operating margin", pd.OperationalMargin) }}
            {{ mult_pnl_percent("Net margin", pd.NetMargin) }}
        </table>
    </div>

    <div class="col-5">
        <h5>Ratios, CF</h5>
        <table class="table table-sm table-bordered">
            <thead>
                <th></th>
                <th class="text-end">Value</th>
                <th class="text-end">y/y</th>
                <th class="text-end">Industry</th>
                <th class="text-end">Upside</th>
            </thead>
            {{ mult_cf("P/BV", pd.P_on_BV) }}
            {{ mult_cf("DSI", pd.DSI) }}
        </table>
    </div>


</div>

{% endblock %}
