{% extends "layout.html" %}

{% block title %}Отчет эмитента {% endblock %}

{% block content %}

{% macro pnl(descr, repv, addc) %}
<tr class="{{addc}}">
    <td>{{ descr }}</td>
    <td class="text-end">{{repv.V | rub0}}</td>
    <td class="text-end">{{repv.Ltm | rub0}}</td>
    <td class="text-end">{{repv.AG | rub1}}%</td>
</tr>
{% endmacro %}

{% macro pnl_perc(descr, repv, addc) %}
<tr class="{{addc}}">
    <td>{{ descr }}</td>
    <td class="text-end">{{repv.V | rub1}}%</td>
    <td class="text-end">{{repv.Ltm | rub1}}%</td>
    <td class="text-end">{{repv.AG | rub1}}%</td>
</tr>
{% endmacro %}

{% macro cf(descr, repv, addc) %}
<tr class="{{addc}}">
    <td>{{ descr }}</td>
    <td class="text-end">{{repv.V | rub0}}</td>
    <td class="text-end">{{repv.AG | rub1}}%</td>
</tr>
{% endmacro %}

{% macro cf_perc(descr, repv, irepv, addc) %}
<tr class="{{addc}}">
    <td>{{ descr }}</td>
    <td class="text-end">{{repv.V | rub1}}%</td>
    <td class="text-end">{{repv.AG | rub1}}%</td>
    <td class="text-end">{{irepv.V | rub1}}%</td>
</tr>
{% endmacro %}

{% macro cf_1(descr, repv, irepv, addc) %}
<tr class="{{addc}}">
    <td>{{ descr }}</td>
    <td class="text-end">{{repv.V | rub1}}</td>
    <td class="text-end">{{repv.AG | rub1}}%</td>
    <td class="text-end">{{irepv.V | rub1}}</td>
</tr>
{% endmacro %}

<h2>Отчет эмитента {{ pd.Emitent.Descr }} за {{ pd.R2.ReportYear }}.Q{{ pd.R2.ReportQuarter }} </h2>
<h5>Дата отчета: {{pd.R2.ReportDate | date}}</h5>

<div class="row">

    <div class="col-4">
        <h5>P&L</h5>
        <small>
            <table class="table table-sm">
                <thead>
                    <th>Параметр</th>
                    <th class="text-end">YTD</th>
                    <th class="text-end">LTM</th>
                    <th class="text-end">г/г</th>
                </thead>
                {{ pnl("Выручка", pd.R2.Revenue, "") }}
                {{ pnl("Амортизация", pd.R2.Amortization, "") }}
                {{ pnl("Операционная прибыль", pd.R2.OperatingIncome, "") }}
                {{ pnl("Финансовые доходы", pd.R2.InterestIncome, "") }}
                {{ pnl("Финансовые расходы", pd.R2.InterestExpenses, "") }}
                {{ pnl("Налог на прибыль", pd.R2.IncomeTax, "") }}
                {{ pnl("Прибыль", pd.R2.NetIncome, "") }}
                {{ pnl("OIBDA", pd.R2.OIBDA, "table-warning") }}
                {{ pnl("EBITDA", pd.R2.EBITDA, "table-warning") }}
            </table>
        </small>
    </div>

    <div class="col-3">
        <h5>Cashflow</h5>
        <table class="table table-sm">
            <thead>
                <th>Параметр</th>
                <th class="text-end">SLD</th>
                <th class="text-end">г/г</th>
            </thead>
            {{ cf("Денежные средства и эквиваленты", pd.R2.Cash, "") }}
            {{ cf("Текущие обязательства", pd.R2.CurrentLiabilities, "") }}
            {{ cf("Долговременные обязательства", pd.R2.NonCurrentLiabilities, "") }}
            {{ cf("Неконтроллирующие доли", pd.R2.NonControlling, "") }}
            {{ cf("Капитал", pd.R2.Equity, "") }}
            {{ cf("Всего активов и обязательств", pd.R2.Total, "") }}
            {{ cf("Чистый долг", pd.R2.NetDebt, "table-warning") }}
            {{ cf("Капитализация", pd.R3.Cap, "table-warning") }}
            {{ cf("EV", pd.R3.EV, "table-warning") }}
            {{ cf("Book value", pd.R3.BookValue, "table-warning") }}
        </table>

    </div>

    <div class="col-4">
        <h5>Мультипликаторы</h5>
        <table class="table table-sm">
            <thead>
                <th>Мультипликатор</th>
                <th class="text-end">Значение</th>
                <th class="text-end">г/г</th>
                <th class="text-end">Отрасль</th>
            </thead>
            {{ cf_1("EV/EBITDA", pd.R3.EV_on_EBITDA, pd.IR.EV_on_EBITDA, "") }}
            {{ cf_1("Debt/EBITDA", pd.R2.Debt_on_EBITDA, pd.IR.Debt_on_EBITDA, "") }}
            {{ cf_1("P/E", pd.R3.P_on_E, pd.IR.P_on_E, "") }}
            {{ cf_1("P/BV", pd.R3.P_on_BV, pd.IR.P_on_BV, "") }}
            {{ cf_1("P/S", pd.R3.P_on_S, pd.IR.P_on_S, "") }}
            {{ cf_1("DSI", pd.R3.DSI, pd.IR.DSI, "") }}
            {{ cf_perc("ROE", pd.R2.ROE, pd.IR.ROE, "") }}
            {{ cf_perc("Рентабельность OIBDA", pd.R2.OIBDAMargin, pd.IR.OIBDAMargin, "") }}
            {{ cf_perc("Рентабельность EBITDA", pd.R2.EBITDAMargin, pd.IR.EBITDAMargin, "") }}
            {{ cf_perc("Операционная рентабельность", pd.R2.OperationalMargin, pd.IR.OperationalMargin, "") }}
            {{ cf_perc("Чистая рентабельность", pd.R2.NetMargin, pd.IR.NetMargin, "") }}
        </table>
    </div>

    <div class="col-1">
        <h5>Все отчеты эмитента</h5>
        <ul>
            {% for rep in pd.AllReps %}
            <li>
                {% if pd.R2.ReportYear==rep.ReportYear && pd.R2.ReportQuarter==rep.ReportQuarter %}
                <strong>{{rep.ReportYear}}.Q{{rep.ReportQuarter}}</strong>
                {% else %}
                <a href="/report?tickerid={{pd.TickerId}}&y={{rep.ReportYear}}&q={{rep.ReportQuarter}}">{{rep.ReportYear}}.Q{{rep.ReportQuarter}}</a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

    </div>

</div>

{% endblock %}