{% extends "layout.html" %}

{% block title %}Strategies{% endblock %}

{% block content %}

<h2>Strategies</h2>

<table class="table table-hover">
    <thead>
        <tr>
            <td>Strategy name</td>
            <td class="text-end">Starting cash</td>
            <td class="text-end">weekly top-up</td>
            <td class="text-end">Year profit</td>
            <td class="text-end">Year yield</td>
            <td class="text-end">3-Year profit</td>
            <td class="text-end">3-Year yield</td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        {% for item in pd.Items %}
        <tr>
            <td>
                <a href="{{ '/strategy?id=' + item.ID }}">{{ item.Descr }}</a>
            </td>
            <td class="text-end">{{ item.StartAmount|cur0 }}</td>
            <td class="text-end">{{ item.WeekRefillAmount|cur0 }}</td>
            <td class="text-end">{{ item.LastYearInvertResult|cur0 }}</td>
            <td class="text-end">{{ item.LastYearYield|cur0 }}</td>
            <td class="text-end">{{ item.Last3YearsInvertResult|cur0 }}</td>
            <td class="text-end">{{ item.Last3YearsYield|cur0 }}</td>
            <td><button class="btn"><i class="bi bi-trash3"></i></button></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form method="POST">

    <div class="form-group">
        <label for="strategyName">New strategy</label>
        <input type="text" class="form-control" name="descr" placeholder="Strategy name">
    </div>
    <button type="submit" class="btn btn-primary">Add</button>

</form>

{% endblock %}
