{% extends "layout.html" %}

{% block title %}Инвестиционная стратегия{% endblock %}

{% block content %}

<div id="vueapp">

    <div class="row">

        <div class="col-12 col-xl-6">

            <button class="btn btn-primary btn-sm" v-on:click="putStrategy">Применить</button>

            <ul class="nav nav-tabs" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="pills-main-tab" data-bs-toggle="pill" data-bs-target="#pills-main" type="button" role="tab"
                        aria-controls="pills-main" aria-selected="true"> Основное </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-shares-tab" data-bs-toggle="pill" data-bs-target="#pills-shares" type="button" role="tab"
                        aria-controls="pills-shares" aria-selected="false"> Фиксированные доли</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-factors-tab" data-bs-toggle="pill" data-bs-target="#pills-factors" type="button" role="tab"
                        aria-controls="pills-factors" aria-selected="false"> Факторы </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pills-filters-tab" data-bs-toggle="pill" data-bs-target="#pills-filters" type="button" role="tab"
                        aria-controls="pills-filters" aria-selected="false"> Отборы </button>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">

                <div class="tab-pane fade show active" id="pills-main" role="tabpanel" aria-labelledby="pills-main-tab">
                    <div id="strategyForm">
                        <small>
                            <div class="form-group form-group-sm row">
                                <label for="descr" class="col-sm-3 col-form-label">Наименование</label>
                                <div class="col-sm-9">
                                    <input class="form-control input-sm form-control-sm" type="text" v-model="obj.Descr" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">

                                    <div class="form-group row">
                                        <label for="maxtickers" class="col-sm-6 col-form-label"> Максимальное число инструментов </label>
                                        <div class="col-sm-6">
                                            <input class="form-control form-control-sm" type='number' v-model='obj.MaxTickers' />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="startAmount" class="col-sm-6 col-form-label"> Стартовый баланс</label>
                                        <div class="col-sm-6">
                                            <input class="form-control form-control-sm" type='number' v-model='obj.StartAmount' />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="weekRefillAmount" class="col-sm-6 col-form-label"> Недельное пополнение </label>
                                        <div class="col-sm-6">
                                            <input class="form-control form-control-sm" type='number' v-model='obj.WeekRefillAmount' />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="startSimulation" class="col-sm-6 col-form-label"> Стартовая дата симуляции </label>
                                        <div class="col-sm-6">
                                            <input class="form-control form-control-sm" type='date' v-model='obj.StartSimulation' />
                                        </div>
                                    </div>

                                    <div class="'form-group row">
                                        <label for="baseIndex" class="col-sm-6 col-form-label"> Базовый индекс для сравнения </label>
                                        <div class="col-sm-6">
                                            <select class="form-select form-control-sm" v-model='obj.BaseIndex'>
                                                <option></option>
                                                <option v-for="item in renderInfo.Tickers" v-bind:value="item.Id">
                                                    ${item.Descr}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="SameEmitent" class="col-sm-6 col-form-label"> Разные тикеры одного эмитента </label>
                                        <div class="col-sm-6">
                                            <select class="form-select form-control-sm" v-model='obj.SameEmitent'>
                                                <option v-for="item in renderInfo.SameEmitentPolicies" v-bind:value="item.Id">${item.Descr}</option>
                                            </select>
                                        </div>
                                    </div>

                                </div>
                                <div class="col">
                                    <div class="form-group row">
                                        <label for="allowLossWhenSell" class="col-sm-6 col-form-check-label">
                                            Разрешать закрывать позицию в убыток
                                        </label>
                                        <div class="col-sm-6">
                                            <input class="form-check-input form-control-sm" type="checkbox" v-model='obj.AllowLossWhenSell' />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="buyOnlyLowPrice" class="col-sm-6 col-form-label"> Докупать только на просадках </label>
                                        <div class="col-sm-6">
                                            <input class="form-check-input form-control-sm" type="checkbox" v-model='obj.BuyOnlyLowPrice' />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="AllowSellToFit" class="col-sm-6 col-form-label">
                                            Частичная продажа позиции для выравнивания долей
                                        </label>
                                        <div class="col-sm-6">
                                            <input class="form-check-input form-control-sm" type="checkbox" v-model='obj.AllowSellToFit' />
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </small>
                    </div>
                </div>

                <div class="tab-pane fade show" id="pills-shares" role="tabpanel" aria-labelledby="pills-shares-tab">
                    <strategy-fixed-tickers :strategy='obj' :renderinfo='renderInfo' />
                </div>

                <div class="tab-pane fade show" id="pills-factors" role="tabpanel" aria-labelledby="pills-factors-tab">
                    <strategy-factors :strategy='obj' :renderinfo='renderInfo' />
                </div>

                <div class="tab-pane fade show" id="pills-filters" role="tabpanel" aria-labelledby="pills-filters-tab">
                    <strategy-filters :strategy='obj' :renderinfo='renderInfo' />
                </div>

            </div>

        </div>

        <div class="col-12 col-xl-6" v-if="results != null && results.ActualPortfolio != null">

            <h2>Актуальный состав портфеля на сегодня</h2>

            <p>Денежные средства: ${ $prnCurrency(results.ActualPortfolio.RUB) } </p>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Тикер</th>
                        <th class="text-end">Доля</th>
                        <th class="text-end">Сумма</th>
                        <th class="text-end">Лоты</th>
                        <th v-for="f in obj.edges.Factors" class="text-end">Фактор №${ f.LineNum }<br/>${ factorDescr(f) }</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in results.ActualPortfolio.Items">
                        <td><a v-bind:href="tickerUrl(item.Ticker.id)">${item.Ticker.Descr}</a></td>
                        <td class="text-end">${ $prnPercent1(item.CurrentPercent) }</td>
                        <td class="text-end">${ $prnCurrency(item.Balance) }</td>
                        <td class="text-end">${ item.Lots }</td>
                        <td v-for="f in obj.edges.Factors" class="text-end">${ $prnPercent1(item.DebugFactors[f.LineNum]) }</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br></br>
    <div class="row">
        <div class="col-12 col-lg-6">
            <div ref="strategyChartRef" style="height:400px;width:100%"></div>
        </div>
        <div class="col-12 col-lg-6" v-if="obj.BaseIndex != null && obj.BaseIndex !='' ">
            <div ref="PerformanceChartRef" style="height:400px;width:100%"></div>
        </div>
    </div>

    <div class='row' v-if='results.IndustryTradeResults!=null'>
        <div class="row">
            <div class="col-12 col-xl-5">
                <h2>Рост стоимости по отраслям:<br />${ $prnCurrency(results.Profit) }</h2>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Отрасль</th>
                            <th class="text-right">Результат</th>
                            <th class="text-right">Сделок</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='item in results.IndustryTradeResults'>
                            <td> <a v-bind:href="industryUrl(item.Industry.industryId)">${item.industry.descr}</a> </td>
                            <td class="text-end">${ $prnCurrency(item.Profit) }</td>
                            <td class="text-end">${item.DealsCount}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="col-12 col-xl-7">
                <h2>Дивиденды по отраслям:<br />${ $prnCurrency(results.DivsSum) } </h2>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Отрасль</th>
                            <th class="text-right" v-for='y in results.YearsInResult'>${y}</th>
                            <th class="text-right">Всего</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='item in results.DividendIndustries'>
                            <td><a v-bind:href="industryUrl(item.industryId)">${item.descr}</a></td>
                            <td class="text-end" v-for='y in results.YearsInResult'>
                                ${ $prnCurrency(sumDivByYearForIndustry(y, item.YndustryId)) }
                            </td>
                            <td class="text-end">${ $prnCurrency(sumDivForIndustry(item.IndustryId)) } </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <div class=row v-if='!results!=null && results.TickerTradeResults != null'>

        <div class="col-12 col-xl-5">
            <h2>Рост стоимости: ${ $prnCurrency(results.Profit) }</h2>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Тикер</th>
                        <th class="text-right">Результат</th>
                        <th class="text-right">Сделок</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for='item in results.TickerTradeResults'>
                        <td><a v-bind:href="tickerUrl(item.TickerId)">${item.TickerId}</a></td>
                        <td class='text-end'>${ $prnCurrency(item.Profit) }</td>
                        <td class='text-end'>${item.DealsCount}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12 col-xl-7">
            <h2>Дивиденды: ${ $prnCurrency(results.DivsSum) }</h2>
            <table class="table table-sm">
                <thead>
                    <tr>
                        <th>Тикер</th>
                        <th class="text-end" v-for='y in results.YearsInResult'>${y}</th>
                        <th class="text-right">Всего</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for='item in results.Dividends'>
                        <td><a v-bind:href="tickerUrl(item.TickerId)">${item.TickerId}</a></td>
                        <td class="text-end" v-for='y in results.YearsInResult'>
                            ${ $prnCurrency(sumDivByYearForTicker(y, item.TickerId)) }
                        </td>
                        <td class="text-end">${ $prnCurrency(item.Dividends) }</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td>Всего</td>
                        <td class="text-end" v-for='y in results.YearsInResult'>
                            ${ $prnCurrency(sumDivByYearForTickerAll(y)) }</td>
                        <td class="text-end">${ $prnCurrency(results.DivsSum) }</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row" v-if='selectedYear != null'>
        <div class="col">
            <h2>Результаты симуляции</h2>

            <div>
                <button v-for='y in results.YearsInResult' class="btn btn-xs"
                    v-bind:class="{ 'btn-primary': y==selectedYear, 'btn-link': y!=selectedYear }" v-on:click='setSelectedYear(y)'>
                    ${y}
                </button>
            </div>
            <small>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Дата</th>
                            <th class="text-end">Пополнение</th>
                            <th>Сделки</th>
                            <th class="text-end">Рубли</th>
                            <th class="text-end">Портфель</th>
                            <th class="text-end">Вложенное н.</th>
                            <th class="text-end">Дивиденды н.</th>
                            <th class="text-end">Результат н.</th>
                            <th class="text-end">Доходность н.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for='item in daysForYear(selectedYear)'>
                            <td>${new Date(item.D).toLocaleDateString()}</td>
                            <td class="text-end">${ $prnCurrency(item.Refill) }</td>
                            <td>
                                <div v-for='deal in item.Deals'>
                                    <span v-bind:class="{'text-danger': deal.InvestResult<0, 'text-success': deal.InvestResult>=0 }"
                                        v-if='deal.Kind==100'>
                                        продажа ${deal.TickerId} ${deal.Lots} лот., ${ $prnCurrency(deal.InvestResult) }
                                        р.
                                    </span>
                                    <span v-if='deal.Kind==200'>
                                        покупка ${deal.TickerId} ${deal.Lots} лот.
                                    </span>
                                </div>
                            </td>
                            <td class="text-end">${ $prnCurrency(item.PortfolioRUB) }</td>
                            <td class="text-end">${ $prnCurrency(item.PortfolioBalance) }</td>
                            <td class="text-end">${ $prnCurrency(item.Accu_Equity) }</td>
                            <td class="text-end">${ $prnCurrency(item.Accu_Dividends) }</td>
                            <td class="text-end">${ $prnCurrency(item.Accu_InvestResult) }</td>
                            <td class="text-end">${ $prnCurrency(item.Accu_Yield) }</td>
                        </tr>
                    </tbody>
                </table>
            </small>
        </div>
    </div>

</div>

{% include "components/StrategyFilters.html" %}
{% include "components/StrategyFactors.html" %}
{% include "components/StrategyFixedTickers.html" %}

<script type="text/javascript">

    window.strategyId = '{{pd.StrategyId}}';

    const App = {
        delimiters: ['${', '}'],
        data() {
            return {
                obj: {
                    edges: {
                        FixedTickers: []
                    }
                },
                results: {},
                selectedYear: null,
                renderInfo: {
                    ReportValues: [],
                    SameEmitentPolicies: [],
                    FilterValueKinds: [],
                    FilterOps: [],
                    FilterOpsShort: [],
                    Industries: [],
                    ReportValueTypes: [],
                }
            }
        },
        components: {
            StrategyFilters: StrategyFilters,
            StrategyFactors: StrategyFactors,
            StrategyFixedTickers: StrategyFixedTickers
        },

        async mounted() {
            await this.getStrategy();
            await this.getResults();
        },
        watch: {
            results: {
                async handler(newVal, oldVal) {
                    await this.$nextTick();
                    this.createStrategyChart(this.$refs.strategyChartRef, this.results.Dates, this.results.Equity, this.results.InvestResults, this.results.Divs);
                    if (this.obj.BaseIndex != null && this.obj.BaseIndex != '')
                        this.createStrategyPerformanceChart(this.$refs.PerformanceChartRef, this.results.Dates, this.results.StrategyLevels, this.results.BaseLevels);
                }
            }
        },
        methods: {

            createStrategyChart: function (element, dates, equity, results, alldivs) {

                var myChart = echarts.init(element);

                option = {
                    legend: {
                        data: ['Капитал', 'Дивиденды', 'Результат'],
                        left: 10
                    },
                    tooltip: {},
                    xAxis: {
                        data: dates,
                        name: 'Недели',
                        axisLine: { onZero: true },
                        splitLine: { show: false },
                        splitArea: { show: false }
                    },
                    yAxis: {
                        splitArea: { show: false }
                    },
                    grid: {
                        left: 100
                    },
                    series: [
                        {
                            name: 'Капитал',
                            type: 'bar',
                            stack: 'one',
                            data: equity
                        },
                        {
                            name: 'Дивиденды',
                            type: 'bar',
                            stack: 'one',
                            data: alldivs
                        },
                        {
                            name: 'Результат',
                            type: 'bar',
                            stack: 'one',
                            data: results
                        }
                    ]
                };

                myChart.setOption(option);

            },
            createStrategyPerformanceChart: function (element, dates, strategyLevels, baseLevels) {

                var myChart = echarts.init(element);

                option = {
                    legend: {
                        data: ['Стратегия', 'Базовый инструмент'],
                        left: 10
                    },
                    xAxis: {
                        type: 'category',
                        data: dates
                    },
                    yAxis: { type: 'value' },
                    grid: { left: 100 },
                    series: [
                        {
                            name: 'Стратегия',
                            data: strategyLevels,
                            type: 'line',
                            smooth: true,
                            symbol: 'none'
                        },
                        {
                            name: 'Базовый инструмент',
                            data: baseLevels,
                            type: 'line',
                            smooth: true,
                            symbol: 'none'
                        }
                    ]
                };

                myChart.setOption(option);

            },

            printPercent(val) { return new Intl.NumberFormat('ru-RU', { style: 'percent', minimumFractionDigits: 1, maximumFractionDigits: 1 }).format(val / 100); },
            tickerUrl(tickerId) { return `/ticker?id=${tickerId}&strategy=${window.strategyId}`; },
            industryUrl(industryId) { return '/industry/' + industryId; },

            factorDescr(rec) {
                for (var i = 0; i < this.renderInfo.ReportValues.length; i++) {
                    if (this.renderInfo.ReportValues[i].Id == rec.RK) {
                        return this.renderInfo.ReportValues[i].Descr;
                    }
                }
                return "";
            },

            daysForYear(year) {
                return this.results.Days.filter(item => item.D.startsWith(year.toString()) && (item.Refill != 0 || (item.Deals != null && item.Deals.length > 0)));
            },

            sumDivByYearForIndustry(aYear, aIndustryId) {
                let s = 0;
                this.results.simulation.industryDividendResults.forEach(
                    function (el) {
                        if (el.d.startsWith(aYear.toString()) && el.industry.industryId == aIndustryId) s = s + el.dividends;
                    }
                );
                return s;
            },

            sumDivForIndustry(aIndustryId) {
                let s = 0;
                this.results.IndustryDividendResults.forEach(
                    function (el) {
                        if (el.Industry.ID == aIndustryId) s = s + el.Dividends;
                    }
                );
                return s;
            },

            sumDivByYearForTicker(aYear, aTickerId) {
                let s = 0;
                this.results.TickerDividendResults.forEach(
                    function (el) {
                        if (el.D.startsWith(aYear.toString()) && el.ticker.TickerId == aTickerId) s = s + el.Dividends;
                    }
                );
                return s;

            },

            sumDivByYearForTickerAll(aYear) {
                let s = 0;
                this.results.TickerDividendResults.forEach(
                    function (el) {
                        if (el.D.startsWith(aYear.toString())) s = s + el.Dividends;
                    }
                );
                return s;

            },

            async getStrategy() {

                let res = await fetch(`?id=${window.strategyId}&mode=renderinfo`, { method: 'GET' });
                if (await res.ok) {
                    this.renderInfo = await res.json();
                } else {
                    alert("Проблема с получением данных рендеринга");
                    return;
                };

                res = await fetch(`?id=${window.strategyId}&mode=obj`, { method: 'GET' });
                if (await res.ok) {
                    this.obj = await res.json();

                    if (this.obj.edges.Filters == undefined)
                        this.obj.edges.Filters = [];

                    if (this.obj.edges.Factors == undefined)
                        this.obj.edges.Factors = [];

                    if (this.obj.edges.FixedTickers == undefined)
                        this.obj.edges.FixedTickers = [];

                }
                else alert("Проблема с получением данных стратегии");

            },

            validateStrategy() {

                let shares = 0;
                this.obj.edges.FixedTickers.forEach(
                    function (el) { if (el.IsUsed) shares += +el.Share; }
                );

                if (shares > 100) {
                    alert("Сумма всех фиксированных долей не может превышать 100")
                    return false;
                }
                return true;
            },

            async putStrategy() {
                if (!this.validateStrategy()) return;

                this.obj.edges.FixedTickers.forEach(function (el) {
                    el.Share = parseInt(el.Share); //range editor returns string
                });

                this.obj.edges.Factors.forEach(function (el) {
                    el.MinAcceptable = el.MinAcceptable == "" || el.MinAcceptable == null ? null : parseInt(el.MinAcceptable);
                    el.MaxAcceptable = el.maxAcceptable == "" || el.MaxAcceptable == null ? null : parseInt(el.MaxAcceptable);
                });

                let objAsJson = JSON.stringify(this.obj);
                let res = await fetch(`?id=${window.strategyId}&mode=obj`, {
                    method: 'PUT',
                    headers: { 'Content-Type': 'application/json' },
                    body: objAsJson
                });
                if (await res.ok)
                    this.getResults();
                else
                    alert("Проблема с записью данных стратегии");
            },

            async getResults() {
                let response = await fetch(`?id=${window.strategyId}&mode=results`, { method: 'GET' });
                if (await response.ok) {
                    this.results = await response.json(); // charts will be rendered later by watch funcs
                    if (this.results.YearsInResult.length > 0)
                        this.selectedYear = this.results.YearsInResult[this.results.YearsInResult.length - 1];
                }
                else alert('Проблемы с чтениеv результатов симуляции');
            },

            setSelectedYear(y) { this.selectedYear = y; }
        }
    };

    let app = Vue.createApp(App)
    applyVueFuncs(app);
    app.mount('#vueapp')

</script>

{% endblock %}