<template id="strategy-fixed-tickers-markup">

    <table class="table table-sm">
        <thead>
            <tr>
                <td></td>
                <td>Ticker</td>
                <td class="text-end">Share</td>
                <td class="text-end"><button class="btn" v-on:click='addFixedTickers()'> <i class="bi bi-file-earmark-plus"></i> </button></td>
            </tr>
        </thead>
        <tbody>
            <tr v-for='item in strategy.edges.FixedTickers'>
                <td> <input class="form-check-input form-control-sm" type="checkbox" v-model='item.IsUsed' /> </td>
                <td>
                    <select class="form-select form-control-sm" v-model='item.Ticker'>
                        <option></option>
                        <option v-for="item2 in renderinfo.Tickers" v-bind:value="item2.Id"> ${item2.Descr} </option>
                    </select>
                </td>
                <td class='text-end'> <input type='range' v-model='item.Share' />${item.Share}% </td>
                <td class="text-end"> <button class="btn" v-on:click='removeFixedTickers(item)'> <i class="bi bi-trash3"></i> </button> </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td class='text-end'> ${totalFixedTickers()}%</td>
                <td> </td>
            </tr>
        </tfoot>
    </table>

</template>

<script type="text/javascript">

    const StrategyFixedTickers =
    {
        delimiters: ['${', '}'],
        template: '#strategy-fixed-tickers-markup',

        props: {
            strategy: {},
            renderinfo: {}
        },
        methods: {
            totalFixedTickers() {
                let sum = 0;
                this.strategy.edges.FixedTickers.forEach(function (el) {
                    if (el.IsUsed)
                        sum = +sum + +el.Share;
                });
                return sum;
            },
            removeFixedTickers(item) {
                this.strategy.edges.FixedTickers.splice(this.strategy.edges.FixedTickers.indexOf(item), 1);
            },

            addFixedTickers() {
                this.strategy.edges.FixedTickers.push({ IsUsed: true, Ticker: null, Share: 1 });
            }

        }
    }

</script>