<template id="strategy-factors-markup">

    <small>
        <table class="table table-sm">
            <thead>
                <tr>
                    <td>Исп.</td>
                    <td>Фактор</td>
                    <td class="text-end"> <button class="btn" v-on:click='addFactor()'> <i class="bi bi-file-earmark-plus"></i></i> </button> </td>
                </tr>
            </thead>
            <tbody>
                <tr v-for='item in strategy.edges.Factors'>
                    <td> <input class="form-check-input form-control-sm" type="checkbox" v-model='item.IsUsed' disabled /> </td>
                    <td>
                        <button class="btn" data-bs-toggle="modal" data-bs-target="#factorModal" v-on:click='selectedFactor=item'>
                            ${ lineDescr(item) }
                        </button>
                    </td>
                    <td class="text-end">
                        <button class="btn" v-on:click='removeFactor(item)'><i class="bi bi-trash3"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- редактор фактора стратегии -->
        <div class="modal fade" id="factorModal" tabindex="-1" aria-labelledby="factorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="factorModalLabel"> Редактирование фактора стратегии </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Используется</label>
                            <div class="col-sm-9">
                                <input class="form-check-input form-control-sm" type="checkbox" v-model='selectedFactor.IsUsed' />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">
                                Параметр отчета
                            </label>
                            <div class="col-sm-9">
                                <select class="form-select form-control-sm" v-model='selectedFactor.RK'>
                                    <option></option>
                                    <option v-for="item2 in renderinfo.ReportValues" v-bind:value="item2.Id">
                                        ${item2.Descr}</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">
                                Расчет параметра
                            </label>
                            <div class="col-sm-9">
                                <select class="form-select form-control-sm" v-model='selectedFactor.RVT'>
                                    <option></option>
                                    <option v-for="item2 in renderinfo.ReportValueTypes" v-bind:value="item2.Id">
                                        ${item2.Descr}</option>
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Мин.значение</label>
                            <div class="col-sm-9">
                                <input class="form-control form-control-sm" type="number" v-model='selectedFactor.MinAcceptable' />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Макс.значение</label>
                            <div class="col-sm-9">
                                <input class="form-control form-control-sm" type="number" v-model='selectedFactor.MaxAcceptable' />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Инвертировать</label>
                            <div class="col-sm-9">
                                <input class="form-check-input form-control-sm" type="checkbox" v-model='selectedFactor.Inverse' />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Коэффициент</label>
                            <div class="col-sm-9">
                                <input class="form-control form-control-sm" type="number" v-model='selectedFactor.K' />
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-sm-3 col-form-label">Гистерезис</label>
                            <div class="col-sm-9">
                                <input class="form-control form-control-sm" type="number" v-model='selectedFactor.Gist' />
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            Закрыть
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </small>

</template>

<script type="text/javascript">

    const StrategyFactors =
    {
        delimiters: ['${', '}'],
        template: '#strategy-factors-markup',

        props: {
            strategy: {},
            renderinfo: {
                ReportValues: [],
                ReportValueTypes: []
            }
        },

        data() {
            return {
                selectedFactor: { IsUsed: false },

            }
        },

        methods: {
            addFactor() {
                this.strategy.edges.Factors.push({ IsUsed: true, RK: null, RVT: null, MinAcceptable: null, MaxAcceptable: null, Inverse: false, K: 1, Gist: 5 });
            },
            removeFactor(item) {
                this.strategy.edges.Factors.splice(this.strategy.edges.Factors.indexOf(item), 1);
            },
            lineDescr(item) {
                if (item.MinAcceptable === undefined) item.MinAcceptable = 0;
                if (item.MaxAcceptable === undefined) item.MaxAcceptable = 0;
                for (let i = 0; i < this.renderinfo.ReportValues.length; i++) {
                    if (this.renderinfo.ReportValues[i].Id == item.RK) {
                        let r = this.renderinfo.ReportValues[i].Descr + ' ';
                        for (let j = 0; j < this.renderinfo.ReportValueTypes.length; j++) {
                            if (this.renderinfo.ReportValueTypes[j].Id == item.RVT) {
                                r += this.renderinfo.ReportValueTypes[j].Descr + ' ';
                                if (item.MinAcceptable != 0 || item.MaxAcceptable != 0) {
                                    if (item.MinAcceptable != 0) 
                                        r += item.MinAcceptable.toString();
                                    r += "..";
                                    if (item.MaxAcceptable != 0)
                                        r += item.MaxAcceptable.toString();
                                }
                                if (item.Inverse == true) r += ' (инв) ';
                                r += `K=${item.K}, Г=${item.Gist}`;
                                return r;
                            }
                        }
                    }
                }
                return 'Нажмите здесь для редактирования фактора';
            },
        }
    }

</script>